#box{
    display: flex;
    width: 100%;

}
#box>div{

    width: 50%;
    height: 1000px;
}
.lh{
    background-color: rgb(236,236,236);
   
}
img{
    margin-left: 180px;
    margin-top: 100px;
    margin-bottom: 15px;
    cursor: pointer;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
  
  
}
span:nth-child(3){
    color: rgb(225,25,37);
  margin-left: 190px;
  
}
span:nth-child(5){
    color: rgb(225,25,37);

  
}
.address{
    width: 550px;
    height: 100px;
    background-color: white;
    margin-left: 190px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
hr{
    width: 95%;
    margin: auto;
    margin-top: 10px;
}
label{
    font-size: 20px;
    margin-left: 10px;
}
.address>input{
    margin-top: 20px;
    margin-left: 20px;
   width: 400px;
   border: none;
 
}
.backred{
    margin-left: 190px;
    width: 500px;
    height: 50px;
    background-color: rgb(255,235,235);
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
 
}
.ship{
    margin-left: 190px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.free{
    width: 500px;
    margin-left: 190px;
    height: 40px;
    padding-top: 17px;
    padding-left: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.continue{
    margin-left: 190px;
    margin-top: 20px;
    padding: 20px 40px;
    color: white;
    background-color: rgb(67,113,17);
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;

}
.rh{
    margin-left: 100px;
    margin-top:50px ;
}

.productimg{
    width: 80px;
    height: 80px;
    margin-left: -10px;
    margin-top: -5px;
    border-radius: 10px;
}
.name{
    padding-left: 50px;
}
.price{
     padding-left: 50px;
}
.code{
    padding: 15px 10px;
    width: 300px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 5px;
}
.btn{
    padding: 15px 25px;
    cursor: pointer;
}
.hr{
    width: 70%;
      margin-left: 100px;
}
.sub{
    display: flex;
    width: 70%;
    margin-left: 100px;
    justify-content: space-between;
    font-size: 20px;
    font-family: sans-serif;
}
.sub1{
    display: flex;
    width: 70%;
    margin-left: 100px;
    justify-content: space-between;
     font-size: 20px;
     font-family: sans-serif;
}
#price{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 550;
}
#price1{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
}

#carts{
    width: 550px;
    height: 300px;
    margin-left: 190px;
    margin-top: 20px;
    background-color: white;
}
#carts p{
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px 0 0 10px;
    
    

}
#card_number{
    width: 500px;
    margin-left: 10px;
    height: 30px;
}
#mm{
    margin-left: 10px;
    width: 237px;
    margin-top: 20px;
    height: 30px;
}
#cvv{
     margin-left: 10px;
    width: 238px;
    height: 30px;
}
#carts img{
    margin-left: 10px;
    margin-top: -10px;
 
}
#upi{
    margin-top: 20px;
}
alert{
    margin: auto;
}