body{
     background-image: url(https://cdn.shopify.com/s/files/1/0449/5225/6667/files/jazz-bg-texture-min_1.jpg?v=1616673456);
}

#button{
  margin: 50px auto;
  margin-left: 530px;
 
}
#button>button{
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;

}
#button>button:hover{
    text-decoration: underline;
 
}
#product{
    width: 80%;
    height: 900px;
    border: 1px solid black;
    margin: auto;
    margin-top: 120px;
}

#home i{
    padding-right: 10px;
}